<li class="media">
<a class="pull-left" href="#">
  <img class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="<%= avatar_url comment.email, 64 %>">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.commenter %></h4>
    <p>
      <%= comment.body %>
    </p>
  <p>
  <% if can? :destroy, comment %>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete,
               :class => 'btn btn-mini btn-danger' %>
<% end %> 
  </div>
</li>