<% content_for :breadcrumb do %>
  <li class="active">Home</li>
<% end %>
<div class="jumbotron">
    <h1>Anyone can cook</h1>
    <p class="lead">Even me ...</p>
</div>
<hr>
<div class="row-fluid">
  <%= render :partial => 'posts/post_list' %>  
  <div class="digg_pagination">
    <%= will_paginate @posts %>
  </div>
</div>