<div class="jumbotron">
    <h1>Article about <%= @tag %></h1>
    <p class="lead">Let see ...</p>
</div>
<hr>
<div class="container">
<div class="row-fluid">
<%= render :partial => 'posts/post_list' %>  
  <div class="digg_pagination">
    <%= will_paginate @posts %>
  </div>
</div>