<% content_for :breadcrumb do %>
  <li class="active">Home</li>
<% end %>
<div class="jumbotron">
    <h1><%=t :title %></h1>
    <p class="lead"><%=t :subtitle %></p>
</div>
<hr>
<div class="row-fluid">
  <%= render :partial => 'posts/post_list' %>
</div>
<div class="row-fluid"> 
  <div class="digg_pagination">
    <%= will_paginate @posts %>
  </div>
</div>